html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--primary);
}

:root {
  --black: #000;
  --light-blue: #fff9a1;
  --dark-blue: hsl(49, 92%, 76%);
  --light-red: #f87171;
  --dark-red: #ee4d4d;
  --gray: #252c30;

  /*Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.appetizers,
.noodleSoup,
.sandwiches{
  margin: 3rem;
  padding: 10px;
  align-items: center;
  background-color: var(--secondary);
}

.subhead{
  display: block;
}

.appDiv,
.phoDiv,
.sandDiv{
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dish-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 25%;
  margin: 2rem;

  border-color: #000;
}

.filters{
  display: inline;
  margin-left: 3rem;
}

.btnA,
.btnA:link,
.btnA:visited,
.btnB,
.btnB:link,
.btnB:visited,
.btnC,
.btnC:link,
.btnC:visited,
.btnAll,
.btnAll:link,
.btnAll:visited,
.color,
.color:link,
.color:visited {
  border: none;
  display: inline;
  text-align: center;
  justify-content: space-around;
  padding: 0.8rem ;
  margin: 1.5rem;
  display: inline-block;
  margin: 1rem auto;
  border-radius: 15px;
  font-size: 2rem;
  transition: all 0.2s;
  background-color: var(--dark-blue)
}

.btnAll:hover,
.btnA:hover,
.btnB:hover,
.btnC:hover,
.color:hover {
  transform: translateY(-2px);
  border-color: var(--dark-red);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}



